* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: #072424;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

main {
  background-color: #093434;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  border-radius: 15px;
  box-shadow: 3px 0 10px #777;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d1eaff;
}

.heading h1 {
  font-size: 3rem;
}

.heading p {
  font-size: 1.3rem;
  font-weight: normal;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  font-size: 1.1rem;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.movie-container select:hover{
  cursor: pointer;
}

.status {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffff;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.status li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.status li small {
  margin-left: 2px;
}

.seat {
  background-color: #d3d3d6;
  height: 2rem;
  width: 1.9rem;
  margin: 3px;
  border-radius: 0.7rem 0.7rem 0 0;
}

.seat.selected {
  background-color: green;
}

.seat.sold {
  background-color: #ff0000;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.sold):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.status .seat:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}

.row {
  display: flex;
}

.reset{
  font-size: 1.3rem;
  border-radius: 5px;
  border: 1px solid ;
  background-color: red;
  color: white;
}

.reset:hover{
  background-color: white;
  color: red;
}

  @media screen and (max-width: 768px) {
    .heading {
      text-align: center;
    }

    .heading h1 {
      font-size: 1.2rem;
    }

    .heading p {
      font-size: 1rem;
    }

    .content {
      padding: 1rem;
      margin-top: 1rem;
      font-size: 1.1rem;
    }
    
    .movie-container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }    

    .seat {
      height: 1.8rem;
      width: 1.7rem;
    }

    }